@page
@model TestWEB.Pages.SomeRemoteCallsModel
@{
}

<form method="post" asp-page-handler="CallALongFunction">
    <button>Call a long executing function</button>
</form>

<form method="post" asp-page-handler="CallAnExceptionFunction">
    <button>Call a function that throws an exception</button>
</form>

<form method="post" asp-page-handler="CallaDoubleHopFunction">
    <button>Call a function that calls another remote function</button>
</form>

<form method="post" asp-page-handler="CallaChattyFunction">
    <button>Call a chatty function</button>
</form>